<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<title>インターナショナルオープンデータデイ2019</title>
<body class="{{ this._model }}">

    {% block body %}{% endblock %}

    <section id="footer">
        <footer class="site-footer">
            <div>
                <img src="{{ '/images/OKFJ_image.jpg'|url }}" height="25" title="Open Knowledge Japan(OKJP)" alt="Open Knowledge Japan(OKJP)">
                <span>
                    <a href="http://okfn.jp/">Supported by Open Knowledge Japan(OKJP)</a>
                </span>
            </div>
        </footer>
    </section>
</body>
